*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
.Body {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.Main {
  height: 100%;
}
