.HouseContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0;
}

.House {
  padding: $pad;
  margin: 0;
  background-image: url('~assets/space-dog.gif');
}

.House--extraSpacing {
  padding: $pad*2;
}
