$pad: 10px;

$Color-white: #FFFFFF;
$Color-mediumGrey: #B0BEC5;

$Color-gryffindorRed    : #990e16;
$Color-gryffindorGold   : #ef9d30;
$Color-ravenclawBlue    : #213785;
$Color-ravenclawBronze  : #cd7d34;
$Color-hufflepuffYellow : #fabe38;
$Color-hufflepuffBlack  : #2b292a;
$Color-slytherinGreen   : #2e552d;
$Color-slytherinSilver  : #ededef;
