$pad: 10px;

$Color-black: #000000;
$Color-white: #FFFFFF;
$Color-lightGrey: #CFD8DC;
$Color-mediumGrey: #B0BEC5;

$Color-gryffindorRed    : #990E16;
$Color-gryffindorGold   : #EF9D30;
$Color-ravenclawBlue    : #213785;
$Color-ravenclawBronze  : #CD7D34;
$Color-hufflepuffYellow : #FABE38;
$Color-hufflepuffBlack  : #2B292A;
$Color-slytherinGreen   : #2E552D;
$Color-slytherinSilver  : #EDEDEF;
