html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.Body {
  padding: 20px;
}

.HouseContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.House {
  padding: 10px;
}
